// Colors

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #575757;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-secondary-light: #fe8c00;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// Gradients - Cards
// Orange
$orange-gradient-color-1: #ffc500;
$orange-gradient-color-2: #c21500;
// Green
$green-gradient-color-1: #11998e;
$green-gradient-color-2: #2C7744;
// Blue
$blue-gradient-color-1: #1488CC;
$blue-gradient-color-2: #2B32B2;
// Font-sizes
$default-font-size: 1.6rem;

// Grid

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;